In [ ]:
#Importing the necessary libraries
from google.colab import drive
import pandas as pd

In [ ]:
#Importing the necessary libraries
import sklearn

In [ ]:
#Importing the necessary libraries
from sklearn.model_selection import train_test_split
from sklearn.preprocessing import StandardScaler
from sklearn import metrics

In [ ]:
#Mounting drive
drive.mount('/content/drive')

Mounted at /content/drive

In [ ]:
#Reading a csv file of a Kaggle dataset displaying various fitness metrics.
fitness_data = pd.read_csv('/content/drive/MyDrive/cardioActivities.csv')
fitness_data.head()

,Date,Activity Id,Type,Route Name,Distance (km),Duration,Average Pace,Average Speed (km/h),Calories Burned,Climb (m),Average Heart Rate (bpm),Friend's Tagged,Notes,GPX File
0,2018-11-11 14:05:12,c9627fed-14ac-47a2-bed3-2a2630c63c15,Running,NaN,10.44,58:40,5:37,10.68,774.0,130,159.0,NaN,NaN,2018-11-11-140512.gpx
1,2018-11-09 15:02:35,be65818d-a801-4847-a43b-2acdf4dc70e7,Running,NaN,12.84,1:14:12,5:47,10.39,954.0,168,159.0,NaN,NaN,2018-11-09-150235.gpx
2,2018-11-04 16:05:00,c09b2f92-f855-497c-b624-c196b3ef036c,Running,NaN,13.01,1:15:16,5:47,10.37,967.0,171,155.0,NaN,NaN,2018-11-04-160500.gpx
3,2018-11-01 14:03:58,bc9b612d-3499-43ff-b82a-9b17b71b8a36,Running,NaN,12.98,1:14:25,5:44,10.47,960.0,169,158.0,NaN,NaN,2018-11-01-140358.gpx
4,2018-10-27 17:01:36,972567b2-1b0e-437c-9e82-fef8078d6438,Running,NaN,13.02,1:12:50,5:36,10.73,967.0,170,154.0,NaN,NaN,2018-10-27-170136.gpx

In [ ]:
#dropping columns that won't be used for this project
updated_fitness_data = fitness_data.drop("Activity Id", axis=1)
updated_fitness_data

,Date,Type,Route Name,Distance (km),Duration,Average Pace,Average Speed (km/h),Calories Burned,Climb (m),Average Heart Rate (bpm),Friend's Tagged,Notes,GPX File
0,2018-11-11 14:05:12,Running,NaN,10.44,58:40,5:37,10.68,774.0,130,159.0,NaN,NaN,2018-11-11-140512.gpx
1,2018-11-09 15:02:35,Running,NaN,12.84,1:14:12,5:47,10.39,954.0,168,159.0,NaN,NaN,2018-11-09-150235.gpx
2,2018-11-04 16:05:00,Running,NaN,13.01,1:15:16,5:47,10.37,967.0,171,155.0,NaN,NaN,2018-11-04-160500.gpx
3,2018-11-01 14:03:58,Running,NaN,12.98,1:14:25,5:44,10.47,960.0,169,158.0,NaN,NaN,2018-11-01-140358.gpx
4,2018-10-27 17:01:36,Running,NaN,13.02,1:12:50,5:36,10.73,967.0,170,154.0,NaN,NaN,2018-10-27-170136.gpx
...,...,...,...,...,...,...,...,...,...,...,...,...,...
503,2012-08-28 07:06:57,Walking,NaN,1.57,13:39,8:41,6.91,926743.0,7,NaN,NaN,NaN,2012-08-28-070657.gpx
504,2012-08-24 12:59:42,Walking,NaN,1.48,17:56,12:09,4.94,942192.0,12,NaN,NaN,NaN,2012-08-24-125942.gpx
505,2012-08-24 10:12:16,Walking,NaN,1.49,13:43,9:14,6.49,924486.0,9,NaN,NaN,NaN,2012-08-24-101216.gpx
506,2012-08-24 08:13:12,Running,NaN,3.15,16:00,5:05,11.82,2288868.0,17,NaN,NaN,NaN,2012-08-24-081312.gpx
507,2012-08-22 18:53:54,Running,NaN,5.69,31:08,5:29,10.95,4072685.0,32,NaN,NaN,NaN,2012-08-22-185354.gpx

In [ ]:
#dropping columns that won't be used for this project
updated_fitness_data = updated_fitness_data.drop("Date", axis=1)
updated_fitness_data

,Type,Route Name,Distance (km),Duration,Average Pace,Average Speed (km/h),Calories Burned,Climb (m),Average Heart Rate (bpm),Friend's Tagged,Notes,GPX File
0,Running,NaN,10.44,58:40,5:37,10.68,774.0,130,159.0,NaN,NaN,2018-11-11-140512.gpx
1,Running,NaN,12.84,1:14:12,5:47,10.39,954.0,168,159.0,NaN,NaN,2018-11-09-150235.gpx
2,Running,NaN,13.01,1:15:16,5:47,10.37,967.0,171,155.0,NaN,NaN,2018-11-04-160500.gpx
3,Running,NaN,12.98,1:14:25,5:44,10.47,960.0,169,158.0,NaN,NaN,2018-11-01-140358.gpx
4,Running,NaN,13.02,1:12:50,5:36,10.73,967.0,170,154.0,NaN,NaN,2018-10-27-170136.gpx
...,...,...,...,...,...,...,...,...,...,...,...,...
503,Walking,NaN,1.57,13:39,8:41,6.91,926743.0,7,NaN,NaN,NaN,2012-08-28-070657.gpx
504,Walking,NaN,1.48,17:56,12:09,4.94,942192.0,12,NaN,NaN,NaN,2012-08-24-125942.gpx
505,Walking,NaN,1.49,13:43,9:14,6.49,924486.0,9,NaN,NaN,NaN,2012-08-24-101216.gpx
506,Running,NaN,3.15,16:00,5:05,11.82,2288868.0,17,NaN,NaN,NaN,2012-08-24-081312.gpx
507,Running,NaN,5.69,31:08,5:29,10.95,4072685.0,32,NaN,NaN,NaN,2012-08-22-185354.gpx

In [ ]:
#dropping columns that won't be used for this project
updated_fitness_data = updated_fitness_data.drop("Notes", axis=1)
updated_fitness_data

,Type,Route Name,Distance (km),Duration,Average Pace,Average Speed (km/h),Calories Burned,Climb (m),Average Heart Rate (bpm),Friend's Tagged,GPX File
0,Running,NaN,10.44,58:40,5:37,10.68,774.0,130,159.0,NaN,2018-11-11-140512.gpx
1,Running,NaN,12.84,1:14:12,5:47,10.39,954.0,168,159.0,NaN,2018-11-09-150235.gpx
2,Running,NaN,13.01,1:15:16,5:47,10.37,967.0,171,155.0,NaN,2018-11-04-160500.gpx
3,Running,NaN,12.98,1:14:25,5:44,10.47,960.0,169,158.0,NaN,2018-11-01-140358.gpx
4,Running,NaN,13.02,1:12:50,5:36,10.73,967.0,170,154.0,NaN,2018-10-27-170136.gpx
...,...,...,...,...,...,...,...,...,...,...,...
503,Walking,NaN,1.57,13:39,8:41,6.91,926743.0,7,NaN,NaN,2012-08-28-070657.gpx
504,Walking,NaN,1.48,17:56,12:09,4.94,942192.0,12,NaN,NaN,2012-08-24-125942.gpx
505,Walking,NaN,1.49,13:43,9:14,6.49,924486.0,9,NaN,NaN,2012-08-24-101216.gpx
506,Running,NaN,3.15,16:00,5:05,11.82,2288868.0,17,NaN,NaN,2012-08-24-081312.gpx
507,Running,NaN,5.69,31:08,5:29,10.95,4072685.0,32,NaN,NaN,2012-08-22-185354.gpx

In [ ]:
#dropping columns that won't be used for this project
updated_fitness_data = updated_fitness_data.drop("Friend's Tagged", axis=1)
updated_fitness_data

,Type,Route Name,Distance (km),Duration,Average Pace,Average Speed (km/h),Calories Burned,Climb (m),Average Heart Rate (bpm),GPX File
0,Running,NaN,10.44,58:40,5:37,10.68,774.0,130,159.0,2018-11-11-140512.gpx
1,Running,NaN,12.84,1:14:12,5:47,10.39,954.0,168,159.0,2018-11-09-150235.gpx
2,Running,NaN,13.01,1:15:16,5:47,10.37,967.0,171,155.0,2018-11-04-160500.gpx
3,Running,NaN,12.98,1:14:25,5:44,10.47,960.0,169,158.0,2018-11-01-140358.gpx
4,Running,NaN,13.02,1:12:50,5:36,10.73,967.0,170,154.0,2018-10-27-170136.gpx
...,...,...,...,...,...,...,...,...,...,...
503,Walking,NaN,1.57,13:39,8:41,6.91,926743.0,7,NaN,2012-08-28-070657.gpx
504,Walking,NaN,1.48,17:56,12:09,4.94,942192.0,12,NaN,2012-08-24-125942.gpx
505,Walking,NaN,1.49,13:43,9:14,6.49,924486.0,9,NaN,2012-08-24-101216.gpx
506,Running,NaN,3.15,16:00,5:05,11.82,2288868.0,17,NaN,2012-08-24-081312.gpx
507,Running,NaN,5.69,31:08,5:29,10.95,4072685.0,32,NaN,2012-08-22-185354.gpx

In [ ]:
#dropping columns that won't be used for this project
updated_fitness_data = updated_fitness_data.drop("GPX File", axis=1)
updated_fitness_data

,Type,Route Name,Distance (km),Duration,Average Pace,Average Speed (km/h),Calories Burned,Climb (m),Average Heart Rate (bpm)
0,Running,NaN,10.44,58:40,5:37,10.68,774.0,130,159.0
1,Running,NaN,12.84,1:14:12,5:47,10.39,954.0,168,159.0
2,Running,NaN,13.01,1:15:16,5:47,10.37,967.0,171,155.0
3,Running,NaN,12.98,1:14:25,5:44,10.47,960.0,169,158.0
4,Running,NaN,13.02,1:12:50,5:36,10.73,967.0,170,154.0
...,...,...,...,...,...,...,...,...,...
503,Walking,NaN,1.57,13:39,8:41,6.91,926743.0,7,NaN
504,Walking,NaN,1.48,17:56,12:09,4.94,942192.0,12,NaN
505,Walking,NaN,1.49,13:43,9:14,6.49,924486.0,9,NaN
506,Running,NaN,3.15,16:00,5:05,11.82,2288868.0,17,NaN
507,Running,NaN,5.69,31:08,5:29,10.95,4072685.0,32,NaN

In [ ]:
#dropping columns that won't be used for this project
updated_fitness_data = updated_fitness_data.drop("Route Name", axis=1)
updated_fitness_data

,Type,Distance (km),Duration,Average Pace,Average Speed (km/h),Calories Burned,Climb (m),Average Heart Rate (bpm)
0,Running,10.44,58:40,5:37,10.68,774.0,130,159.0
1,Running,12.84,1:14:12,5:47,10.39,954.0,168,159.0
2,Running,13.01,1:15:16,5:47,10.37,967.0,171,155.0
3,Running,12.98,1:14:25,5:44,10.47,960.0,169,158.0
4,Running,13.02,1:12:50,5:36,10.73,967.0,170,154.0
...,...,...,...,...,...,...,...,...
503,Walking,1.57,13:39,8:41,6.91,926743.0,7,NaN
504,Walking,1.48,17:56,12:09,4.94,942192.0,12,NaN
505,Walking,1.49,13:43,9:14,6.49,924486.0,9,NaN
506,Running,3.15,16:00,5:05,11.82,2288868.0,17,NaN
507,Running,5.69,31:08,5:29,10.95,4072685.0,32,NaN

In [ ]:
#dropping columns that won't be used for this project
updated_fitness_data = updated_fitness_data.drop("Duration", axis=1)
updated_fitness_data

,Type,Distance (km),Average Pace,Average Speed (km/h),Calories Burned,Climb (m),Average Heart Rate (bpm)
0,Running,10.44,5:37,10.68,774.0,130,159.0
1,Running,12.84,5:47,10.39,954.0,168,159.0
2,Running,13.01,5:47,10.37,967.0,171,155.0
3,Running,12.98,5:44,10.47,960.0,169,158.0
4,Running,13.02,5:36,10.73,967.0,170,154.0
...,...,...,...,...,...,...,...
503,Walking,1.57,8:41,6.91,926743.0,7,NaN
504,Walking,1.48,12:09,4.94,942192.0,12,NaN
505,Walking,1.49,9:14,6.49,924486.0,9,NaN
506,Running,3.15,5:05,11.82,2288868.0,17,NaN
507,Running,5.69,5:29,10.95,4072685.0,32,NaN

In [ ]:
#dropping columns that won't be used for this project
updated_fitness_data = updated_fitness_data.drop("Average Pace", axis=1)
updated_fitness_data

,Type,Distance (km),Average Speed (km/h),Calories Burned,Climb (m),Average Heart Rate (bpm)
0,Running,10.44,10.68,774.0,130,159.0
1,Running,12.84,10.39,954.0,168,159.0
2,Running,13.01,10.37,967.0,171,155.0
3,Running,12.98,10.47,960.0,169,158.0
4,Running,13.02,10.73,967.0,170,154.0
...,...,...,...,...,...,...
503,Walking,1.57,6.91,926743.0,7,NaN
504,Walking,1.48,4.94,942192.0,12,NaN
505,Walking,1.49,6.49,924486.0,9,NaN
506,Running,3.15,11.82,2288868.0,17,NaN
507,Running,5.69,10.95,4072685.0,32,NaN

In [ ]:
#dropping columns that won't be used for this project
updated_fitness_data = updated_fitness_data.drop("Climb (m)", axis=1)
updated_fitness_data

,Type,Distance (km),Average Speed (km/h),Calories Burned,Average Heart Rate (bpm)
0,Running,10.44,10.68,774.0,159.0
1,Running,12.84,10.39,954.0,159.0
2,Running,13.01,10.37,967.0,155.0
3,Running,12.98,10.47,960.0,158.0
4,Running,13.02,10.73,967.0,154.0
...,...,...,...,...,...
503,Walking,1.57,6.91,926743.0,NaN
504,Walking,1.48,4.94,942192.0,NaN
505,Walking,1.49,6.49,924486.0,NaN
506,Running,3.15,11.82,2288868.0,NaN
507,Running,5.69,10.95,4072685.0,NaN

In [ ]:
#only including rows in the Type column that are specified as Running
updated_fitness_data = updated_fitness_data[updated_fitness_data["Type"] == "Running"]
updated_fitness_data

,Type,Distance (km),Average Speed (km/h),Calories Burned,Average Heart Rate (bpm)
0,Running,10.44,10.68,774.0,159.0
1,Running,12.84,10.39,954.0,159.0
2,Running,13.01,10.37,967.0,155.0
3,Running,12.98,10.47,960.0,158.0
4,Running,13.02,10.73,967.0,154.0
...,...,...,...,...,...
494,Running,3.27,12.32,231.0,NaN
495,Running,6.26,11.53,455.0,NaN
498,Running,3.14,11.56,230.0,NaN
506,Running,3.15,11.82,2288868.0,NaN
507,Running,5.69,10.95,4072685.0,NaN

In [ ]:
#checking for missing data
updated_fitness_data.isna().any()
#It appears that only the column Average Heart Rate has missing data

Type                        False
Distance (km)               False
Average Speed (km/h)        False
Calories Burned             False
Average Heart Rate (bpm)     True
dtype: bool

In [ ]:
#fills in missing data with the median of the Average Heart Rate
updated_fitness_data.fillna(updated_fitness_data["Average Heart Rate (bpm)"].median(), inplace=True)

/usr/local/lib/python3.7/dist-packages/pandas/core/frame.py:5182: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  downcast=downcast,

In [ ]:
#check to make sure there's no more missing data
updated_fitness_data.isna().any()
#no more missing data which is good

Type                        False
Distance (km)               False
Average Speed (km/h)        False
Calories Burned             False
Average Heart Rate (bpm)    False
dtype: bool

In [ ]:
#importing necessary library for the kNN algorithm
import numpy

In [ ]:
#make predictions on calories burned based on the Average speed of the person during their run, Average heart rate as they run, as well as the
#distance they ran
def knn(sample, data, k):
  updated_fitness_data["kNN Distance"] = numpy.sqrt(
      (sample["Average Speed (km/h)"] - data["Average Speed (km/h)"])**2
      + (sample["Average Heart Rate (bpm)"] - data["Average Heart Rate (bpm)"])**2
      + (sample["Distance (km)"] - data["Distance (km)"])**2
  )
  sorted_data = data.sort_values(["kNN Distance"])

  #print(sorted_data.iloc[0:k][['Type', 'Average Speed (km/h)', 'Average Heart Rate (bpm)', 'Distance (km)', 'Calories Burned', 'kNN Distance']])
  #The above line of code can be uncommented to have an in-depth look as to how the kNN algorithm works
  return sorted_data.iloc[0:k]["Calories Burned"].mean()

In [ ]:
#normalizing the data in preparation for the kNN algorithm
speed_mean = updated_fitness_data["Average Speed (km/h)"].mean()
speed_standard_deviation = updated_fitness_data["Average Speed (km/h)"].std()

beat_mean = updated_fitness_data["Average Heart Rate (bpm)"].mean()
beat_standard_deviation = updated_fitness_data["Average Heart Rate (bpm)"].std()

distance_mean = updated_fitness_data["Distance (km)"].mean()
distance_standard_deviation = updated_fitness_data["Distance (km)"].std()

updated_fitness_data["Average Speed (km/h)"] = (updated_fitness_data["Average Speed (km/h)"] - speed_mean)/speed_standard_deviation
updated_fitness_data["Average Heart Rate (bpm)"] = (updated_fitness_data["Average Heart Rate (bpm)"] - beat_mean)/beat_standard_deviation
updated_fitness_data["Distance (km)"] = (updated_fitness_data["Distance (km)"] - distance_mean)/distance_standard_deviation

/usr/local/lib/python3.7/dist-packages/ipykernel_launcher.py:11: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  # This is added back by InteractiveShellApp.init_path()
/usr/local/lib/python3.7/dist-packages/ipykernel_launcher.py:12: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  if sys.path[0] == '':
/usr/local/lib/python3.7/dist-packages/ipykernel_launcher.py:13: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  del sys.path[0]

In [ ]:
#testing the kNN algorithm with normalization
fitness_sample = {}
fitness_sample["Average Speed (km/h)"] = 9.86
fitness_sample["Average Heart Rate (bpm)"] = 155.0
fitness_sample["Distance (km)"] = 12.94

knn(fitness_sample, updated_fitness_data, 4)

/usr/local/lib/python3.7/dist-packages/ipykernel_launcher.py:7: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  import sys

979.0

In [ ]:
#removing kNN Distance column since the function knn is done being called
updated_fitness_data = updated_fitness_data.drop("kNN Distance", axis=1)
updated_fitness_data

,Type,Distance (km),Average Speed (km/h),Calories Burned,Average Heart Rate (bpm)
0,Running,-0.190843,-0.394741,774.0,2.315212
1,Running,0.295199,-0.698957,954.0,2.315212
2,Running,0.329626,-0.719937,967.0,1.654135
3,Running,0.323551,-0.615035,960.0,2.149943
4,Running,0.331652,-0.342291,967.0,1.488865
...,...,...,...,...,...
494,Running,-1.642891,1.325647,231.0,0.001440
495,Running,-1.037364,0.496924,455.0,0.001440
498,Running,-1.669218,0.528394,230.0,0.001440
506,Running,-1.667193,0.801139,2288868.0,0.001440
507,Running,-1.152799,-0.111507,4072685.0,0.001440

In [ ]:
#since pretty much everything worked well with using the dataset from Kaggle, now let's ask for user input, so that predictions can be made on their
#individualized metrics.

#Importing necessary library
import pandas as pd

In [ ]:
#Collect the same data as from above the Kaggle dataset, where more predictions will be made based on the data received from the user
speed = float(input("How fast did you run? Enter your speed in kilometers per hour: "))
heartRate = float(input("What is your heart rate in beats per minute after completing your run? "))
distance = float(input("How many kilometers have you ran in total for your run? "))
#Let's use 56 as speed, 45 as heart rate, and 64 as distance, in order to test our code

How fast did you run? Enter your speed in kilometers per hour: 56
What is your heart rate in beats per minute after completing your run? 45
How many kilometers have you ran in total for your run? 64

In [ ]:
#testing the kNN algorithm with normalization
fitness_sample2 = {}
fitness_sample2["Average Speed (km/h)"] = (speed - speed_mean)/speed_standard_deviation
fitness_sample2["Average Heart Rate (bpm)"] = (heartRate - beat_mean)/beat_standard_deviation
fitness_sample2["Distance (km)"] = (distance - distance_mean)/distance_standard_deviation

In [ ]:
#predicting the number of calories burned using kNN from the user's input
calories_burned = knn(fitness_sample2, updated_fitness_data, 4)

In [ ]:
print("Based on the information you provided, you have burned around " + str(calories_burned) + " calories")

Based on the information you provided, you have burned around 632.0 calories

In [ ]:
#storing the information provided by the user to a new dataset dataset, which will later be appended to
#updated_fitness_data.
add_fitness_data = pd.DataFrame({"Average Speed (km/h)": [speed],
                                 "Average Heart Rate (bpm)": [heartRate],
                                 "Distance (km)": [distance],
                                 "Calories Burned": [calories_burned],
                                 })

In [ ]:
#removing kNN Distance column since the function knn is done being called
updated_fitness_data = updated_fitness_data.drop("kNN Distance", axis=1)
updated_fitness_data

,Type,Distance (km),Average Speed (km/h),Calories Burned,Average Heart Rate (bpm)
0,Running,-0.190843,-0.394741,774.0,2.315212
1,Running,0.295199,-0.698957,954.0,2.315212
2,Running,0.329626,-0.719937,967.0,1.654135
3,Running,0.323551,-0.615035,960.0,2.149943
4,Running,0.331652,-0.342291,967.0,1.488865
...,...,...,...,...,...
494,Running,-1.642891,1.325647,231.0,0.001440
495,Running,-1.037364,0.496924,455.0,0.001440
498,Running,-1.669218,0.528394,230.0,0.001440
506,Running,-1.667193,0.801139,2288868.0,0.001440
507,Running,-1.152799,-0.111507,4072685.0,0.001440

In [ ]:
#appending add_fitness_data to updated_fitness_data, so that there is more sample data in updated_fitness_data, which 
#can aid in better predictions for the future.
updated_fitness_data.append(add_fitness_data, ignore_index=True)

,Type,Distance (km),Average Speed (km/h),Calories Burned,Average Heart Rate (bpm)
0,Running,-0.190843,-0.394741,774.0,2.315212
1,Running,0.295199,-0.698957,954.0,2.315212
2,Running,0.329626,-0.719937,967.0,1.654135
3,Running,0.323551,-0.615035,960.0,2.149943
4,Running,0.331652,-0.342291,967.0,1.488865
...,...,...,...,...,...
455,Running,-1.037364,0.496924,455.0,0.001440
456,Running,-1.669218,0.528394,230.0,0.001440
457,Running,-1.667193,0.801139,2288868.0,0.001440
458,Running,-1.152799,-0.111507,4072685.0,0.001440
459,NaN,64.000000,56.000000,632.0,45.000000

In [ ]:
#Looping each time a user wants to add their fitness metrics to determine how many calories they burned (uses the same code as displayed above)
answer = input("Do you want to provide fitness information about yourself? (Type in either y for yes, or n for no (type only in lowercase)")
while answer == 'y':
  speed = float(input("How fast did you run? Enter your speed in kilometers per hour: "))
  heartRate = float(input("What is your heart rate in beats per minute after completing your run? "))
  distance = float(input("How many kilometers have you ran in total for your run? "))
  
  fitness_sample2 = {}
  fitness_sample2["Average Speed (km/h)"] = (speed - speed_mean)/speed_standard_deviation
  fitness_sample2["Average Heart Rate (bpm)"] = (heartRate - beat_mean)/beat_standard_deviation
  fitness_sample2["Distance (km)"] = (distance - distance_mean)/distance_standard_deviation

  calories_burned = knn(fitness_sample2, updated_fitness_data, 4)

  add_fitness_data = pd.DataFrame({"Average Speed (km/h)": [speed],
                                 "Average Heart Rate (bpm)": [heartRate],
                                 "Distance (km)": [distance],
                                 "Calories Burned": [calories_burned],
                                 })
  updated_fitness_data = updated_fitness_data.drop("kNN Distance", axis=1)
  updated_fitness_data.append(add_fitness_data, ignore_index=True)

  print("Based on the information you provided, you have burned around " + str(calories_burned) + " calories")
  answer = input("Do you want to continue providing fitness information about yourself? (Type in either y for yes, or n for no (type only in lowercase)")

Do you want to provide fitness information about yourself? (Type in either y for yes, or n for no (type only in lowercase)y
How fast did you run? Enter your speed in kilometers per hour: 43
What is your heart rate in beats per minute after completing your run? 60
How many kilometers have you ran in total for your run? 6
Based on the information you provided, you have burned around 632.0 calories
Do you want to continue providing fitness information about yourself? (Type in either y for yes, or n for no (type only in lowercase)n